p{
  margin: 0;
  padding: 0;
}

.task{
    width: 296px;
    margin: 0 auto;
    box-shadow: 0px 2px 2px 0px rgba(1, 1, 0, 0.15);
    border-radius: 5px;
}

.taskHeader{
  display: flex;
  flex-direction: row;

  background-color: var(--dark-grey-blue);
  color: var(--white);
  font-family: var(--primaryFontFamily), sans-serif;
  font-size: var(--mobileFontSize);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.48px;
  text-align: left;

  border-radius: 5px 5px 0 0;
  padding: 6px 1.3em 6px;
}

.numberContainer{
  flex-basis: 2em;
}

.taskBody{
  font-family: var(--primaryFontFamily), sans-serif;
  font-size: var(--mobileFontSize);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41666666667;
  letter-spacing: 0.48px;
  text-align: left;

  padding: 16px 1.3em 6px;
}

.taskControls{
  display:flex;
  justify-content: space-between;
  padding: 0px 1.3em 16px;

}

.taskControls button{
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid var(--light-blue-grey);
  border-radius: 50%;
  cursor: pointer;
  background-color:var(--white);
}

.taskControlsRepeat{
  display:flex;
  align-items: center;
}

.taskControls p{
  display: inline-block;
  font-family: var(--secondaryFontFamily), sans-serif;
  font-size: var(--mobileFontSize);
  color: var(--dark-grey-blue);
  font-weight: bold;
  margin-left: 1em;
}

.taskControls button>svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  margin-left:auto; 
  margin-right:auto; 
  display:block;
  width: 12px;
  height: 18px;
}

.taskControlsCompleteContainer{
  display:flex;
  align-items: center;
}

.taskControlsDone{
  margin-left: 16px;
}


/* ***************************************************************************************** */

._17__19__24 {
  font-size: 11px;
  font-family: "Verdana";
  color: rgb(40, 64, 96);
  font-weight: bold;
  line-height: 1.818;
  position: absolute;
  left: 61px;
  top: 269.501px;
  width: 67px;
  height: 10px;
  z-index: 29;
}

.Эллипс_1_kопировать {
  border-width: 1px;
  border-color: rgb(204, 205, 211);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 29px;
  top: 245px;
  width: 21px;
  height: 21px;
  z-index: 30;
}



.task_bg {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px 0px rgba(1, 1, 0, 0.15);
    position: absolute;
    left: 13px;
    top: 171px;
    width: 295px;
    height: 110px;
    z-index: 21;
  }
  .Прямоугольник__скругл__углы_4 {
  background-color: rgb(40, 64, 96);
  position: absolute;
  left: 78px;
  top: 131px;
  width: 580px;
  height: 32px;
  z-index: 20;
}
.task_bg {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px 0px rgba(1, 1, 0, 0.15);
    position: absolute;
    left: 78px;
    top: 159px;
    width: 580px;
    height: 126px;
    z-index: 18;
  }
  .task_bg {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px 0px rgba(1, 1, 0, 0.15);
    position: absolute;
    left: 102px;
    top: 181px;
    width: 580px;
    height: 126px;
    z-index: 18;
  }


  .Подготовка_документации {
    font-size: 12px;
    font-family: "GothamPro";
    color: rgb(255, 255, 255);
    line-height: 5.083;
    text-align: left;
    position: absolute;
    left: 46px;
    top: 127.002px;
    z-index: 25;
  }
  