.taskContainer {
  height: 60vh;
  overflow-y: scroll;
}

.taskContainer::-webkit-scrollbar {
  width: 1em;
}

.taskContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.taskContainer::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
