:root {
	--pale-grey: #f5f7fc;
	--black: #000000;
	--greyish-brown: #595858;
	--light-periwinkle: #dce0e9;
	--midnight: #010002;
	--dusty-orange: #fc842c;
	--dusty-orange-33: rgba(252, 132, 44, 0.33);
	--white: #ffffff;
	--dark-grey-blue: #284060;
	--black-15: rgba(0, 0, 0, 0.15);
	--light-blue-grey: #cccdd3;
	--dark-navy-blue: #000001;

	--green: #00c853;
	--grey: #d0d1d7;

	--mobileFontSize: 12px;
	--tabletFontSize: 13px;
	--secondarymobileFontSize: 11px;
	--primaryFontFamily: "Gotham Pro Light";
	--secondaryFontFamily: "Verdana";

	--main-color: #1a8fff;
	--text-color: #777;
	--text-color-light: #ccc;
	--border-color: #eee;
	--bg-color: #f9f9f9;
	--neutral-color: #fff;
}
