.container {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white)
}

.title {
  font-family: 'GothamPro';
  font-size: 13px;
  text-align: center;
  color: #010101;
}

.btnsContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  width: 135px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px var(--dark-grey-blue);
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 3px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.78px;
  text-align: center;
  color: var(--dark-grey-blue);
  margin-top: 20px
}

.btnDelete {
  background-color: var(--red);
  border: 0;
  color: var(--white);
}

.btnDelete:hover {
    background-color: var(--white);
    color: var(--red);
    border: 1px solid var(--red);
}

.btnCancel {
  background-color: transparent;
  border: 1px solid var(--dark-grey-blue);
  color: var(--dark-grey-blue)
}

.btnCancel:hover {
  border: 1px solid var(--green);
  color: var(--green);
}

@media (min-width: 768px) {
  .container {
    width: 350px;
    height: 150px;
}

.title {
  font-size: 14px;
}

}
