
.wrapper {
	/* position: relative; */
	/* height: 100vh; */
	background-color: var(--pale-grey);
}

.loader {
	position: absolute;
	position: absolute;
    top: 30%;  
    left: 50%; 
    transform: translate(-50%, -30%);
}