.wrapper {
	display: flex;
	margin: 0 auto;
	width: 1280px;
	min-height: 100vh;
	height: 100%;
}

.tasksWrapper {
	width: 790px;
	background-color: var(--pale-grey);
	display: flex;
	justify-content: center;
}

.calendarWrapper {
	display: flex;
	justify-content: flex-end;
	width: 490px;
}

.btnAdd {
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	background-color: var(--dusty-orange);
	color: var(--white);
	cursor: pointer;
}

.btnCalendar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 45px auto;
	width: 250px;
	height: 35px;
	box-shadow: 0px 6px 10px 0 var(--dusty-orange-33);
	background-color: var(--dusty-orange);
	border: 0px;
	border-radius: 5px;
	outline: 0;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: var(--white);
}

.btnCalendarText {
	padding-left: 10px;
}

.calendarBtnIcon {
	background-color: var(--white);
	border: 0;
	outline: 0;
}

.calendarSVG {
	fill: #fff;
}

.btnCalendar:focus {
	box-shadow: 0 0 1px 1px var(--dusty-orange);
}
