.dashboardWrap {
	display: flex;
	margin: 0 auto;
	width: 100%;
	/* height: 100%; */
}

.tasksWrapper {
	width: 60%;
	background-color: var(--pale-grey);
	display: flex;
	justify-content: center
}

.calendarWrapper {
	display: flex;
	justify-content: center;
	width: 40%;
}

.wrapper {
	/* position: relative; */
	/* height: 100vh; */
	padding-top: 48px;
	background-color: var(--pale-grey);
}

.loader {
	position: absolute;
	position: absolute;
    top: 30%;  
    left: 50%; 
    transform: translate(-50%, -30%);
}