.bodybg {
  height: calc(100vh - 170px);
  width: 100vw;
  background-color: var(--pale-grey);
  margin: 0 auto;
}

.formBg {
  max-width: 420px;
  box-shadow: 0px 3px 3px 0 rgba(1, 1, 0, 0.15);
  background-color: var(--white);
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battonContainer {
  display: flex;
}

.title {
  width: 264px;
  height: 20px;
  border: none;
  border-bottom: solid 1px var(--light-periwinkle);
}

.title::placeholder {
  width: 228px;
  font-family: 'Gotham Pro Bold';
  font-size: 14px;
  font-weight: 900;
  line-height: 4.36;
  letter-spacing: 0.84px;
  text-align: left;
  color: var(--light-blue-grey);
}

.formIcon {
  width: 20px;
  height: 18px;
  fill: var(--dusty-orange);
  vertical-align: middle;
  margin-right: 4px;
}

.formIconDelete {
  width: 20px;
  height: 18px;
  fill: var(--white);
}

.dataPickerContainer {
  display: inline-block;
  width: 264px;
  border: none;
  border-bottom: solid 1px var(--light-periwinkle);

}

.dataPickerTitle {
  display: inline-block;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  line-height: 5.08;
  letter-spacing: 0.72px;
  text-decoration: none;
  color: var(--dark-navy-blue);
}

.labelDescription {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  line-height: 5.08;
  letter-spacing: 0.72px;
  text-align: left;
  color: var(--black);

}

.textArea {
  width: 264px;
  resize: none;
  height: 177px;
  border-radius: 5px;
  border: solid 1px var(--light-periwinkle);
  padding:5px;
}

.textArea::placeholder {
  font-family: 'GothamPro';
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.78px;
  color: var(--greyish-brown);
  padding-left: 5px;
  padding-top: 10px;
}

.deleteBtn {
  display: block;
  width: 33px;
  height: 33px;
  background-color: var(--dark-grey-blue);
  border-radius: 50%;
  border: none;
  margin-top: 10px;
}


.resetBtn,
.saveBtn {
  width: 135px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px var(--dark-grey-blue);
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 3px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.78px;
  text-align: center;
  color: var(--dark-grey-blue);
}

.resetBtn:hover,
.saveBtn:hover {
  box-shadow: 0px 6px 10px 0 var(--dusty-orange-33);
  background-color: var(--dusty-orange);
  border: none;
  color: var(--white);
}

.errorSpan {
  color: var(--red);
  font-family: Verdana;
  font-size: 11px;

}



@media (min-width:768px) and (max-width:1023px) {
  .bodybg {
    height: calc(100vh - 87px);
    width: 100vw;
    display: flex;
  }

  .formBg {
    min-width: 700px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title {
    width: 600px;
    height: 40px;
    margin-left: 45px
  }

  .title::placeholder {
    width: 220px;
    font-size: 24px;
    line-height: 2.3;
    letter-spacing: 1.44px;
  }

  .dataPickerContainer {
    width: 600px;
    margin-left: 45px
  }

  .labelDescription {
    display: block;
    margin-left: 45px
  }

  .textArea {
    width: 600px;
    height: 99px;
    margin-left: 45px
  }

  .deleteBtn {
    margin-left: 280px
  }

  .saveBtn {
    position: absolute;
    bottom: 2%;
    left: 26%;
  }

  .resetBtn {
    position: absolute;
    bottom: 2%;
    left: 49%;
  }

}

@media (min-width:1024px) {
  .bodybg {
    height: calc(100vh - 87px);
    display: flex;
   
  }

  .formBg {
    min-width: 900px;
    height: 450px;
    position: relative;
     }

  .title {
    width: 730px;
    margin-left: 80px;
    height: 40px;
  }

  .title::placeholder {
    width: 220px;
    font-size: 24px;
    line-height: 2.54;
    letter-spacing: 1.44px;
  }

  .dataPickerContainer {
    width: 730px;
    margin-left: 80px
  }


  .textArea {
    width: 730px;
    height: 99px;
    margin-left: 80px
  }


  .saveBtn {
    position: absolute;
    bottom: 2%;
    left: 32%;
  }

  .resetBtn {
    position: absolute;
    bottom: 2%;
    left: 49%;
  }

}