.formBg {
  max-width: 400px;
  height: calc(100vh - 155px);
  box-shadow: 0px 3px 3px 0 rgba(1, 1, 0, 0.15);
  background-color: var(--white);
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 264px;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-bottom: solid 1px var(--light-periwinkle);
  outline: 0;
  padding: 6px;
  font-family: 'Gotham Pro Bold';
}

.title:focus {
  border-bottom: solid 1px var(--dark-navy-blue);
}

.title::placeholder {
  width: 228px;
  font-family: 'Gotham Pro Bold';
  font-size: 16px;
  font-weight: 900;
  line-height: 3.5;
  letter-spacing: 0.84px;
  color: var(--light-blue-grey);
}

.formIcon {
  width: 20px;
  height: 20px;
  fill: var(--dusty-orange);
  vertical-align: middle;
  margin-right: 4px;
}

.formIconDelete {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.dataPickerContainer {
  width: 264px;
  border: none;
  border-bottom: solid 1px var(--light-periwinkle);
  display: flex;
  align-items: center;
}

.dataPickerTitle {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  padding: 20px 0;
  letter-spacing: 0.72px;
  text-decoration: none;
  align-items: center;
  color: var(--dark-navy-blue);
}

.labelDescription {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  line-height: 5.08;
  letter-spacing: 0.72px;
  color: var(--black);
}

.textArea {
  width: 264px;
  resize: none;
  height: 177px;
  border-radius: 5px;
  border: solid 1px var(--light-periwinkle);
  padding: 10px;
  outline: 0;
}

.textArea::placeholder {
  font-family: 'GothamPro';
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.78px;
  color: var(--greyish-brown);

}

.textArea:focus {
  border: solid 1px var(--dark-navy-blue);
  border-radius: 5px;
}

.resetBtn,
.saveBtn {
  width: 135px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px var(--dark-grey-blue);
  background-color: transparent;
  margin-bottom: 10px;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.78px;
  text-align: center;
  color: var(--dark-grey-blue);
  margin-top: 20px;
  margin-left: 5px;
}

.battonContainer {
  display: flex;
}

.resetBtn:hover,
.saveBtn:hover {
  box-shadow: 0px 6px 10px 0 var(--dusty-orange-33);
  background-color: var(--dusty-orange);
  border: none;
  color: var(--white);
}

.resetBtn:focus,
.saveBtn:focus {
  outline: 0;
}

.errorSpan {
  color: var(--red);
  font-family: Verdana;
  font-size: 11px;
  margin-left: 10px;
}


@media (min-width:768px) and (max-width:1023px) {
  .bodybg {
    height: calc(100vh - 85px);
    width: 100vw;
    display: flex;
  }

  .formBg {
    min-width: 700px;
    height: calc(100vh - 230px);
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
  }

  .title {
    width: 600px;
    margin-left: 35px
  }

  .title::placeholder {
    width: 220px;
    font-size: 16px;
    line-height: 2.3;
  }

  .dataPickerContainer {
    width: 600px;
    margin-left: 35px
  }

  .labelDescription {
    margin-left: 35px
  }

  .textArea {
    width: 600px;
    height: 99px;
    margin-left: 35px
  }

  .saveBtn {
    position: absolute;
    bottom: 2%;
    left: 26%;
  }

  .resetBtn {
    position: absolute;
    bottom: 2%;
    left: 49%;
  }

}

@media (min-width:1024px) {
  .bodybg {
    height: calc(100vh - 87px);
    display: flex;

  }

  .formBg {
    min-width: 900px;
    height: calc(100vh - 38%);
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
  }

  .title {
    width: 730px;
    margin-left: 70px;
  }

  .title::placeholder {
    width: 220px;
    font-size: 16px;
    line-height: 2.54;
  }

  .dataPickerContainer {
    width: 730px;
    margin-left: 70px;
  }


  .textArea {
    width: 730px;
    margin-left: 70px;
  }


  .saveBtn {
    position: absolute;
    bottom: 2%;
    left: 32%;
  }

  .labelDescription {
    margin-left: 70px;
  }

  .resetBtn {
    position: absolute;
    bottom: 2%;
    left: 49%;
  }

}