.dashboardWrap {
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.tasksWrapper {
    width: 60%;
    background-color: var(--pale-grey);
    display: flex;
    justify-content: center
}

.calendarWrapper {
    display: flex;
    justify-content: center;
    width: 40%;
}