.list {
    height: calc(100vh - 80px - 40px - 84px);
    list-style: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

  .list::-webkit-scrollbar {
    width: 5px;
    background-color: #e0e4ec;
    opacity: 0.102;
  }

  .list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .list::-webkit-scrollbar-track-piece {
    background-color: #e0e4ec;
  }

  .list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 30%;
  }


li {
    margin-bottom: 1em;
}

li:last-child{
    margin-bottom: 0;
}

.intro{
  font-family: var(--secondaryFontFamily);
  font-size: var(--mobileFontSize);
  font-weight: 800;
  text-align:center;

}

@media (min-width: 768px) {
  .intro{
    font-size: var(--tabletFontSize);
  }
  .list {
    height: calc(100vh - 80px - 84px - 60px - 34px - 2px);
  }
}
@media (min-width: 1280px) {
  .list {
    height: calc(100vh - 80px - 84px - 2px);
  }
}